* {
  margin: auto;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #010326;
  max-width: 100%;
}
body {
  background-color: #021d47;
}
.header-left {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  display: flex;
}
.drop {
  display: inline-block;
  cursor: pointer;
}
.dropdown {
  max-width: 2vw;
  min-width: 2vw;
  height: auto;
}
.dropcontent {
  display: none;
  position: absolute;
  background-color: #021d47;
  z-index: 1;
}
.dropcontent a {
  color: #fdca40;
  text-align: center;
  display: block;
  text-decoration: none;
  padding: 12px 16px;
}
.drop:hover .dropcontent{
  display:inline-block;
}
.header-left > a {
  color: #fdca40;
  font-size: 1.5vw;
  margin-left: 2%;
  display: flex;
  justify-content: space-between;
  text-indent: 10px;
  text-decoration: none;
}
.header-right {
  margin-top: 0%;
  margin-bottom: 0%;
  margin-right: 0%;
  display: flex;
  max-width: 100%;
  max-height: auto;
}
.welcomemsg {
  margin: auto;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/background_island.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 600px;
}
.main-title {
  margin-top: 20px;
}
.main-title > h1 {
  text-align: center;
  color: #fdca40;
}
.main-body {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.main-body-left {
  border: 2px;
  padding-right: 30px;
  background-image: url(../assets/about\ background.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 200px;
  width: 550px;
  filter: brightness(70%);
}
.main-body-left > p {
  display: block;
  color: #fdca40;
  width: 80%;
}
.main-body-left > h3 {
  color: #fdca40;
  padding-left: 50px;
  padding-bottom: 20px;
}
hr {
  background-color: #fdca40;
  height: 1px;
  margin-top: 100px;
}
.main-body-lowercontent{
  background-image: url(../assets/Battle\ Pass.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 150px;
  width: 550px;
}
.main-body-lowercontent > h2 {
  color: #fdca40;
  text-align: center;
  padding-top: 50px;
}
footer { 
  background-color: #010326;
  padding-top: 10px;
  margin-top: 30px;
  padding-bottom: 20px;
}
.footer-container > p {
  color: #fdca40;
  text-align: center;
}
.footer-container > img {
  width: 10%;
  height: 10%;
  position: relative;
  left: 670px;
}
